.body {
  background-color: #fff;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr minmax(0, 140px) 1fr;
  max-width: 1052px;
  width: 100%;
  margin-top: 92px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 26px;
  padding-right: 25px;
  margin-bottom: 96px;
}

.header__menu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__links-list {
  display: flex;
  column-gap: 13px;
  list-style: circle;
  list-style-position: inside;
}

.menu__links-list-item {
  font-size: 18px;
}

.menu__links-list-item_no-bullit {
  list-style: none;
}

.menu__links-list--vertical {
  flex-direction: column;
  align-items: center;
}

.menu__links-list--no-bullits {
  list-style: none;
}

.header__logo {
  display: flex;
  justify-content: center;
  aspect-ratio: 148 / 105;
  height: 100%;
  width: 148px;
}

.header__logo-image {
  aspect-ratio: 148 / 105;
  height: 105px;
  width: 148px;
  object-fit: contain;
}

.link {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 4px;
}

.link-active {
  text-decoration: none;
}

.content-section {
  width: 100%;
  margin: 0 auto;
}

.address {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  width: 100%;
  font-style: normal;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
}

.address__container {
  place-self: end;
  justify-content: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000000;
}

.cover {
  position: relative;
  padding: 165px 50px 50px 50px;
}

.cover__image {
  background-image: url(../images/cover.jpg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 757px;
  max-width: 1100px;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.cover__title {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #FFF;
  font-weight: bold;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  line-height: 1;
  text-align: center;
}

.aligned-text_right {
  line-height: 1;
  text-align: right;
  margin-left: 585px;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 78px;
  padding: 136px 0 0;
}

.cover__description-text {
  color: #FFF;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}

.cover__promo_button {
  padding-left: 31px;
  padding-top: 12px;
  padding-right: 32px;
  padding-bottom: 11px;
  background-color: transparent;
  color: #fff;
  border-style: solid;
  border-color: #fff;
  border-radius: 0;
  border-width: 1px;
  text-transform: uppercase;
  font-size: 22px;
  font-family: Raleway, sans-serif;
  cursor: pointer;
}

.remove-spacing {
  letter-spacing: normal;
}

.lots {
  margin-top: 179px;
  max-width: 1052px;
  width: 100%;
}

.lots__title {
  margin-left: 40px;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.lots__cards-list {
  margin-top: 27px;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style: none;
}

.lots__cards-list-item {
  display: block;
}

.lots__card-link {
  display: block;
  cursor: pointer;
  appearance: none;
  text-decoration: none;
}

.lots__card {
  min-height: 563px;
  padding-top: 51px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.lots__card--films {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    center / cover no-repeat url("../images/card-lot-01.jpg");
}

.lots__card--book {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    center / cover no-repeat url("../images/card-lot-02.jpg");
}

.lots__card--painting {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    center / cover no-repeat url("../images/card-lot-03.jpg");
}

.lots__card_title {
  font-size: 22px;
  font-weight: bold;
  line-height: 120%;
  text-transform: uppercase;
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 2px;
}

.lots__card_description {
  line-height: 1.2;
  font-size: 20px;
  font-weight: normal;
  color: #fff;
}

.lots__see-more {
  display: inline-block;
  font-size: 20px;
  font-weight: normal;
  color: #000;
  text-transform: lowercase;
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
  margin-top: 30px;
  margin-left: 40px;
}

.about {
  display: flex;
  justify-content: space-between;
  margin-top: 146px;
  max-width: 1052px;
  width: 100%;
  gap: 72px;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 47px;
  margin-top: 35px;
  width: 240px;
  height: 240px;
  min-width: 240px;
  min-height: 240px;
  background-color: #000;
  border-radius: 100%;
  border-style: none;
}

.about__logo_img {
  width: 148px;
  height: 114px;
}

.about__description {
  display: flex;
  flex-direction: column;
  margin-top: 133px;
  gap: 100px;
}

.about__description_title {
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000;
}

.about__description_text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.about__description_text_item {
  font-size: 20px;
  font-weight: normal;
  line-height: 24px;
  color: #000;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 180px;
  margin-bottom: 88px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  width: 100%;
}

.footer__socials {
  display: flex;
  gap: 48px;
}

.footer__social_link {
  text-decoration: none;
  cursor: pointer;
}

.footer__social_logo {
  width: 48px;
  height: 48px;
}
